<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6be2">  <td>21/02/14 21:34:10</td>   <td>0</td> <td title="&gt;&gt;Before_And_After_Suite.startAppiumServerAndDriverBeforeSuite()[pri:0, instance:AndroidApiDemosDebug.TestsCases.Before_And_After_Suite@1060b431]">&gt;&gt;startAppiumServerAndDriverBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="aac163">  <td>21/02/14 21:34:33</td>   <td>22913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="General_Store_Switch_Between_Context.context()[pri:1, instance:AndroidApiDemosDebug.TestsCases.General_Store_Switch_Between_Context@612679d6]">context</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>21/02/14 21:36:00</td>   <td>109828</td> <td title="&lt;&lt;Before_And_After_Suite.stopAppiumServerAndDriverAfterSuite()[pri:0, instance:AndroidApiDemosDebug.TestsCases.Before_And_After_Suite@1060b431]">&lt;&lt;stopAppiumServerAndDriverAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963522361</td>   <td></td> </tr>
</table>
