<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ABC Bank</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68ddbd">  <td>20/08/15 11:24:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetTheWheel100.setTheWheel1()[pri:0, instance:AppiumUICatalog.ExtentReport.SetTheWheel100@4ae9cfc1]">setTheWheel1</td> 
  <td>main@1127338375</td>   <td></td> </tr>
<tr bgcolor="9ebddf">  <td>20/08/15 11:25:11</td>   <td>20246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetTheWheel200.setTheWheel2()[pri:0, instance:AppiumUICatalog.ExtentReport.SetTheWheel200@512baff6]">setTheWheel2</td> 
  <td>main@1127338375</td>   <td></td> </tr>
</table>
