<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6498a0">  <td>21/01/18 11:15:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carPayments.testCarPayments(java.lang.String)[pri:0, instance:TestNG.Parameters_WithtestNG.carPayments@6767c1fc]">testCarPayments</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="6498a0">  <td>21/01/18 11:15:53</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carPayments.testCarPayments(java.lang.String)[pri:0, instance:TestNG.Parameters_WithtestNG.carPayments@6767c1fc]">testCarPayments</td> 
  <td>main@832947102</td>   <td></td> </tr>
</table>
